{% extends "base.html" %}
{% block content %}

{% load static %}


    <!-- home banner start -->
    <div class="container banner-slider">
        <div class="row">
            <div class="col-md-7"><img src="{% static 'product/images/electronics/1.jpg' %}"
                    class="img-fluid blur-up lazyload height-banner" alt=""></div>
            <div class="col-md-5">
                <div class="row home-banner">
                    <div class="col-12">
                        <a href="#"><img src="{% static 'product/images/electronics/2.jpg' %}" class="img-fluid blur-up lazyload"
                                alt=""></a>
                    </div>
                    <div class="col-12">
                        <a href="#"><img src="{% static 'product/images/electronics/4.jpg' %}" class="img-fluid blur-up lazyload"
                                alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- home banner end  -->


    <!-- collection banner -->
    <section class="banner-padding banner-goggles ratio2_1">
        <div class="container">
            <div class="row partition3">
                <div class="col-md-4">
                    <a href="#">
                        <div class="collection-banner p-right text-right">
                            <div class="img-part">
                                <img src="{% static 'product/images/electronics/5.jpg' %}" class="img-fluid blur-up lazyload bg-img"
                                    alt="">
                            </div>
                            <div class="contain-banner banner-3">
                                <div>
                                    <h4>10% off</h4>
                                    <h2>speaker</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <div class="collection-banner p-right text-right">
                            <div class="img-part">
                                <img src="{% static 'product/images/electronics/6.jpg' %}" class="img-fluid blur-up lazyload bg-img"
                                    alt="">
                            </div>
                            <div class="contain-banner banner-3">
                                <div>
                                    <h4>10% off</h4>
                                    <h2>earplug</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#">
                        <div class="collection-banner p-right text-right">
                            <div class="img-part">
                                <img src="{% static 'product/images/electronics/7.jpg' %}" class="img-fluid blur-up lazyload bg-img"
                                    alt="">
                            </div>
                            <div class="contain-banner banner-3">
                                <div>
                                    <h4>50% off</h4>
                                    <h2>best deal</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- collection banner end -->


    <!-- slider tab  -->
    <section class="section-b-space ratio_asos">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="theme-tab">
                        <ul class="tabs tab-title2">
                            <li class="current"><a href="tab-1">new arrival</a></li>
                            <li class=""><a href="tab-2">top sell</a></li>
                            <li class=""><a href="tab-3">featured</a></li>
                        </ul>
                        <div class="tab-content-cls no-color-varient">
                            <div id="tab-1" class="tab-content active default">
                                <div class="row no-slider">

                                {% for product in products %}
                                    <div class="product-box">
                                        <div class="img-wrapper">
                                            <div class="front">
                                                <a href="{% url 'product:product-detail' product.slug %}">
                                                    {% for image in product.images.all %}
                                                    {% if image.is_main %}
                                                    <img
                                                        src="{{ image.image.url }}"
                                                        class="img-fluid blur-up lazyload bg-img" alt="">
                                                    {% endif %}
                                                    {% endfor %}
                                                    </a>
                                            </div>
                                            <div class="back">
                                                <a href="{% url 'product:product-detail' product.slug %}">
                                                    {% for image in product.images.all %}
                                                    {% if image.is_second_main %}
                                                    <img
                                                        src="{{ image.image.url }}"
                                                        class="img-fluid blur-up lazyload bg-img" alt="">
                                                    {% endif %}
                                                    {% endfor %}
                                                    </a>
                                            </div>
                                            <div class="cart-info cart-wrap">
                                                <button data-toggle="modal" data-target="#addtocart"
                                                    title="Add to cart"><i class="ti-shopping-cart"></i></button> <a
                                                    href="javascript:void(0)" title="Add to Wishlist"><i
                                                        class="ti-heart" aria-hidden="true"></i></a> <a href="#"
                                                    data-toggle="modal" data-target="#quick-view" title="Quick View"><i
                                                        class="ti-search" aria-hidden="true"></i></a> <a
                                                    href="compare.html" title="Compare"><i class="ti-reload"
                                                        aria-hidden="true"></i></a></div>
                                        </div>
                                        <div class="product-detail">
                                            <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                    class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                    class="fa fa-star"></i></div>
                                            <a href="product-page(no-sidebar).html">
                                                <h6>{{ product.title }}</h6>
                                            </a>
                                            <h4>{{ product.get_price }}</h4>
                                            <ul class="color-variant">
                                                <li class="bg-light0"></li>
                                                <li class="bg-light1"></li>
                                                <li class="bg-light2"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% comment %} {% for product in products %}
                                    <div class="product-box product-wrap">
                                        <div class="img-wrapper">
                                            <div class="front">
                                                
                                                <a href="{% url 'product-detail' product.id %}"><img alt=""
                                                        src="{{ product.image.url }}"
                                                        class="img-fluid blur-up lazyload bg-img"></a>
                                                        
                                                    </div>
                                            {% fo r image in product.images.all %}
                                            <div class="back">
                                                <a href="{% url 'product-detail' product.id %}"><img alt=""
                                                        src="{{ image.image.url }}"
                                                        class="img-fluid blur-up lazyload bg-img"></a>
                                            </div>
                                            {% endfor %}
                                            <div class="cart-detail">
                                                <button data-toggle="modal" data-target="#addtocart"
                                                    title="Add to cart"><i class="ti-shopping-cart"></i></button>
                                                    <!-- <a href="javascript:void(0)" title="Add to Wishlist"><i
                                                        class="ti-heart" aria-hidden="true"></i></a> -->
                                                    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i
                                                        class="ti-search" aria-hidden="true"></i></a>
                                                    <!-- <a href="compare.html" title="Compare"><i class="ti-reload"
                                                        aria-hidden="true"></i></a> -->
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <!-- <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                    class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                    class="fa fa-star"></i></div> -->
                                            <a href="{% url 'product-detail' product.id %}">
                                                <h6>{{ product.brand.name |title }} {{product.title}}
                                                    {% if product.internal_storage %}
                                                    <span>{{product.internal_storage}}</span>
                                                    {% endif %}
                                                </h6>
                                            </a>
                                            <h4>{{product.price}} manat</h4>
                                        </div>
                                    </div>
                                    {% endfor %} {% endcomment %}
                                </div>
                            </div>
                            <div id="tab-2" class="tab-content">
                                <div class="no-slider row">
                                    {% for product in products %}
                                    <div class="product-box product-wrap">
                                        <div class="img-wrapper">
                                            <div class="front">
                                                <a href="{% url 'product:product-detail' product.id %}"><img alt=""
                                                        src="{% static 'product/images/electronics/product/7.jpg' %}"
                                                        class="img-fluid blur-up lazyload bg-img"></a>
                                            </div>
                                            <div class="back">
                                            
                                            </div>
                                            <div class="cart-detail">
                                                <button data-toggle="modal" data-target="#addtocart"
                                                    title="Add to cart"><i class="ti-shopping-cart"></i></button>
                                                    <!-- <a href="javascript:void(0)" title="Add to Wishlist"><i
                                                        class="ti-heart" aria-hidden="true"></i></a> -->
                                                    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i
                                                        class="ti-search" aria-hidden="true"></i></a>
                                                    <!-- <a href="compare.html" title="Compare"><i class="ti-reload"
                                                        aria-hidden="true"></i></a> -->
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <!-- <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                    class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                    class="fa fa-star"></i></div> -->
                                            <a href="{% url 'product:product-detail' product.id %}">
                                                <h6>{{ product.brand.name |title }} {{product.title}}
                                                    {% if product.internal_storage %}
                                                    <span>{{product.internal_storage}}</span>
                                                    {% endif %}
                                                </h6>
                                            </a>
                                            <h4>{{product.price}} manat</h4>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="tab-3" class="tab-content">
                                <div class="no-slider row">
                                    {% for product in products %}
                                    <div class="product-box product-wrap">
                                        <div class="img-wrapper">
                                            <div class="front">
                                                <a href="{% url 'product:product-detail' product.id %}"><img alt=""
                                                        src="{% static 'product/images/electronics/product/3.jpg' %}"
                                                        class="img-fluid blur-up lazyload bg-img"></a>
                                            </div>
                                            <div class="back">
                                                <a href="{% url 'product:product-detail' product.id %}"><img alt=""
                                                        src="{% static 'product/images/electronics/product/4.jpg' %}"
                                                        class="img-fluid blur-up lazyload bg-img"></a>
                                            </div>
                                            <div class="cart-detail">
                                                <button data-toggle="modal" data-target="#addtocart"
                                                    title="Add to cart"><i class="ti-shopping-cart"></i></button>
                                                    <!-- <a href="javascript:void(0)" title="Add to Wishlist"><i
                                                        class="ti-heart" aria-hidden="true"></i></a> -->
                                                    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i
                                                        class="ti-search" aria-hidden="true"></i></a>
                                                    <!-- <a href="compare.html" title="Compare"><i class="ti-reload"
                                                        aria-hidden="true"></i></a> -->
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <!-- <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                    class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                    class="fa fa-star"></i></div> -->
                                            <a href="{% url 'product:product-detail' product.id %}">
                                                <h6>{{ product.brand.name |title }} {{product.title}}
                                                    {% if product.internal_storage %}
                                                    <span>{{product.internal_storage}}</span>
                                                    {% endif %}
                                                </h6>
                                            </a>
                                            <h4>{{product.price}} manat</h4>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- slider tab end -->

{% endblock content %}